header {
    display: flex;
    color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;

}
.logo {
    background-image:url(../images/logo.png);
    position: absolute;
    width: 140px;
    height: 65px;
    left: 20px;
    justify-content: center;

}