.places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    max-height: 30px;
    justify-content: center;

  }

  .places > h1 {
    font-size: 30px;
    margin-bottom: 0px;
    flex: 0 1 100%;
  }
  
  article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 390px;
    margin: 20px;
    padding: 20px;
  }
  
  article > h2 {
    font-size: 30px;
  }